<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weixin.dao.WXConfigDao" >
  <resultMap id="WXConfigResultMap" type="com.weixin.entity.WXConfigNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="CHAR" />
    <result column="appsecret" property="appsecret" jdbcType="VARCHAR" />
    <result column="apptoken" property="apptoken" jdbcType="VARCHAR" />
    <result column="accesstoken" property="accesstoken" jdbcType="VARCHAR" />
    <result column="accesssystime" property="accesssystime" jdbcType="INTEGER" />
    <result column="accessintime" property="accessintime" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="WXConfig_Column_List" >
    `id`, `appid`, `appsecret`, `apptoken`, `accesstoken`, `accesssystime`, `accessintime`, `updatetime`
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="WXConfigResultMap" parameterType="java.lang.Integer" >
    SELECT 
    	<include refid="WXConfig_Column_List" />
    FROM `wx_config`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  
  <update id="updateByPrimaryKey" parameterType="com.weixin.entity.WXConfigNode" >
    UPDATE `wx_config`
    SET `accesstoken` = #{accesstoken,jdbcType=VARCHAR},
      `accesssystime` = #{accesssystime,jdbcType=INTEGER},
      `accessintime` = #{accessintime,jdbcType=INTEGER},
      `updatetime` = #{updatetime,jdbcType=BIGINT}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>